h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:Arial;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
    color: black;

}

.hgreen {
    font-family:Consolas;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    color: #0f0;
    

}

img {
    height: 256px;
}

.icon {
    border-radius: 50%;
    width: 128px;
    height: auto;
}

html {
    background-color: #fff;
    background-image: bg.png;
    background-size: 512px;

}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 12px;
}

.container {
    margin-right: 64px;
}

.box {
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5px;
    width: 300px;
}

.big-box {
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5px;
    width: 700px;
}

.big-container {
    display: flex;
}

.Charli {
    color: #8ACE00;
}
.Dua {
    color: #00acc0;
}
.Liv {
    color: #7f7fb5;
}

input[type=text] {
    background-color: black;
    color: white;
    border-radius: 0px;
    outline: none;
    border: none;
  }

input:focus{
    outline: none;
    border: none;
}