h1,
h2,
h3,
h4,
h5,
h6 {
    color:black;
    font-family:Arial;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  

}


img {
    height: 86px;
}

.icon {
    border-radius: 50%;
    width: 96px;
    height: auto;
}

html {
    background-color: #fff;
    background-size: 512px;

}


h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

.container {
    margin-right: 64px;
}

.box {
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5px;
    width: 300px;
}

.big-container {
    display: flex;
}
