h1,
h2,
h3,
h4,
h5,
h6 {
    color:white;
    font-family: 'Courier New', Courier, monospace;
}


.title {
    font-size: 256px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.invisible {
    color: black;
}

.invisible-blue {
    color: #00acc0;
}

img {
    max-width: 256px;
    max-height: 256px;
}

.prog {
    color:lime;
}

.art {
    color:red;
}

.tab {
    font-weight:bolder;
    font-size: 72px;
}

.tab-h {
    font-weight:bolder;
    font-size: 72px;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
}

.tab-h-bg {
    font-weight:bolder;
    font-size: 72px;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    background-color: #00b7ff;
    margin-top: 0%;
    margin-bottom: 0%;
}

.h {
    font-weight:bolder;
    font-size: 36px;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
}

.logo {
    max-width: 512px;
    max-height: 512px;
}

.imgbig {
    max-width: 512px;
    max-height: 512px;
}

.imgbigger {
    width: 1024px;
    height: 1024px;
}

a {
    color:lime;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.navbar a{
    text-decoration: none;
    padding: 15px 50px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #111111aa;
}

.navbar li{
    float: left;
}

.navbar{
    top: 0px;
    left: 0px;
    position: fixed;
}

.small-logo{
    float: left;
    font-size: 36px;
    color: white;
}

.small-logo::first-letter {
    color: red;
}

@keyframes moveRight {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.wave{
    margin-top: 0%;
    color: #00acc0;
    font-size: 48px;
    background-image: url('https://i.ibb.co/Ws8j9mv/wave.png');
    background-repeat: repeat-x;
    animation: moveRight 30s linear infinite;
}

.no-margin{
    margin: 0%;
}

.spotify{
    border-radius:12px
}